<ion-header>
  <ion-toolbar>
    <ion-title>Deck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="row-padding">
  <ion-row class="row-padding">
    <ion-segment [(ngModel)]="cards">
      <ion-segment-button value="card_class">
        {{className}}
      </ion-segment-button>
      <ion-segment-button value="neutral_class">
        Neutral
      </ion-segment-button>
      <ion-segment-button value="choosen_cards">
        Deck
      </ion-segment-button>
    </ion-segment>
  </ion-row>
  <ion-row [ngSwitch]="cards">
    <ion-row *ngSwitchCase="'card_class'">
      <ion-col size="6" *ngFor="let card of classCards | paginate: {itemsPerPage: 10, currentPage: pagClassCard};" class="">
        <ion-card>
          <img [lazyLoad]="card.img">
          <ion-card-content class="ion-text-center">
            <ion-row>
              <ion-col (click)="removeDeck(card)">
                <ion-button color="danger">
                  <ion-icon name="caret-down-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col class="card-count" style="color: white">
                {{card.count}}
              </ion-col>
              <ion-col class="ion-text-center" (click)="addDeck(card)">
                <ion-button color="secondary">
                  <ion-icon name="caret-up-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <pagination-controls style="color: white" (pageChange)="pagClassCard = $event"></pagination-controls>
    </ion-row>

    <ion-row *ngSwitchCase="'neutral_class'">
      <ion-col size="6" *ngFor="let card of neutralCards | paginate: {itemsPerPage: 10, currentPage: pagNeutralCard};" class="">
        <ion-card>
          <img [lazyLoad]="card.img">
          <ion-card-content>
            <ion-row>
              <ion-col (click)="removeDeck(card)">
                <ion-button color="danger">
                  <ion-icon name="caret-down-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col class="card-count">
                {{card.count}}
              </ion-col>
              <ion-col (click)="addDeck(card)" class="ion-text-center" >
                <ion-button color="secondary">
                  <ion-icon name="caret-up-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <pagination-controls class="ion-color-secondary" (pageChange)="pagNeutralCard = $event"></pagination-controls>
    </ion-row>

    <ion-row *ngSwitchCase="'choosen_cards'">
      <ion-col size="6" *ngFor="let card of choosenCards | paginate: {itemsPerPage: 10, currentPage: pagChooseCard};" class="">
        <ion-card>
          <img [lazyLoad]="card.img">
          <ion-card-content>
            <ion-row>
              <ion-col (click)="removeDeck(card)">
                <ion-button color="danger">
                  <ion-icon name="caret-down-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col class="card-count">
                {{card.count}}
              </ion-col>
              <ion-col (click)="addDeck(card)">
                <ion-button color="secondary">
                  <ion-icon name="caret-up-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <pagination-controls class="ion-color-dark" (pageChange)="pagChooseCard = $event"></pagination-controls>
    </ion-row>
  </ion-row>
</ion-content>
