<ion-header>
  <ion-toolbar>
    <ion-title>Selecciona tu Heroe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-row>
    <ion-col size="6" *ngFor="let hero of heroes" (click)="chooseClass(hero.className)">
      <ion-card>
        <img src="{{hero.image}}" height="150" width="150"/>
        <ion-card-content>
          <ion-card-title class="ion-text-center">
            {{hero.className}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>
