<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>view Decks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" *ngFor="let dec of heroes" (click)="editDeck()">
      <ion-card>
        <ion-img src="{{decks.img}}"></ion-img>
        <ion-card-content>
          <ion-card-title class="ion-text-center">
            {{decks.deckName}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
